.cmf_footnotes_wrapper table.cmf_footnotes_table,
.cmf_footnotes_wrapper table.cmf_footnotes_table td,
.cmf_footnotes_wrapper table.cmf_footnotes_table th{
    border: none;
}

.cmf_footnotes_wrapper table.cmf_footnotes_table .cmf_footnote_row .cmf_footnote_link_anchor{
    margin-right: 5px;
}

.cmf_footnotes_wrapper table.cmf_footnotes_table tr td:first-child .cmf_footnote_title{
    min-width: 100px;
}

.cmf_footnotes_wrapper table.cmf_footnotes_table td.cmf_footnote_description{
    /*border-top: 1px solid #DDD;*/
    padding: 6px 0;
    position: relative;
}

.cmf_footnotes_wrapper table.cmf_footnotes_table td.cmf_footnote_description .footnoteItemEditlink{
    text-align: right;
    font-size: 8pt;
    float: right;
}

.cmf_footnotes_wrapper table.cmf_footnotes_table td.cmf_footnote_description .cmf_footnote_short{
    visibility:visible;
    opacity:1;
    transition-delay:0.1s;
    height: auto;
    max-height: 9999px;
}

.cmf_footnotes_wrapper table.cmf_footnotes_table td.cmf_footnote_description .cmf_footnote_full{
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear,max-height 0.5s ease-out;
    max-height: 0;
}

.cmf_footnotes_wrapper table.cmf_footnotes_table td.cmf_footnote_description .cmf_footnote_short:after{
    content: '...more';
    color: #000;
    position: absolute;
    right: 0;
    opacity: 0.5;
    bottom: 0;
}

.cmf_footnotes_wrapper table.cmf_footnotes_table td.cmf_footnote_description:hover > .cmf_footnote_short{
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.1s,opacity 0.1s linear,max-height 0.1s ease-out;
    max-height: 0;
}

.cmf_footnotes_wrapper table.cmf_footnotes_table td.cmf_footnote_description:hover > .cmf_footnote_full{
    visibility:visible;
    opacity:1;
    transition-delay:0s;
    height: auto;
    max-height: 9999px;
}

.cminds_settings_description .button.cmf-cleanup-button{
    color: #A00;
}
.cminds_settings_description .button.cmf-cleanup-button:hover{
    color: #F00;
}

ul#footnoteList{padding: 0; margin: 0}
div.footnote-container > ul.pageNumbers {padding-top: 20px;}

span.footnoteLink, a.footnoteLink {text-decoration:none !important; border-bottom: dotted 1px;}
a.footnoteLink:hover {text-decoration:none !important;}
#footnote-categories {float: right; margin: 0}
.mobile-link{margin: 10px; font-size: 14pt}
.mobile-link:before{content: "Term link: "}
.footnote_synonyms{margin-bottom: 1em; font-style: italic}
h4.footnote_related_title {margin-bottom:0px; margin-top: 20px;}
div.footnote_related_title {margin-bottom:0px; margin-top: 0; font-weight: bold;}
.footnote_itemdesc .footnote_related_title { margin-top: 5px}
ul.footnote_related {margin-top:0;clear:none;}
div.footnote_synonyms {margin:10px 0;}
div.footnote_synonyms_title {margin: 10px 0;}
.footnote_top_filter {clear: both; overflow: hidden; margin: 10px 0}
.cmf-tags-filter {margin: 10px 0 0;}
.cmf-tags-filter a.cmf-footnote-tag {
    cursor: pointer;
    border-left: 1px solid;
    margin: 0 0 0 5px;
    padding: 0 0 0 5px;
}
.cmf-tags-filter a.cmf-footnote-tag:first-child {
    border: none;
    padding: 0;
    margin: 0;
}
.cmf-tags-filter a.cmf-footnote-tag.selected{
    text-decoration: underline;
    font-weight: bold;
}
.cmf-categories-filter {margin: 10px 0 0;}
.cmf-categories-filter a.cmf-footnote-category {
    cursor: pointer;
    border-left: 1px solid;
    margin: 0 0 0 5px;
    padding: 0 0 0 5px;
}
.cmf-categories-filter a.cmf-footnote-category:first-child {
    border: none;
    padding: 0;
    margin: 0;
}
.cmf-categories-filter a.cmf-footnote-category.selected{
    text-decoration: underline;
    font-weight: bold;
}
.footnote_top_filter .left {}
.footnote_top_filter .right {float: right;}
.cmf-footnote-replacement-add {border: 1px solid #CCC;border-radius: 5px;background: #EEE;margin-top: 30px;padding-bottom: 12px;}
.cmf-footnote-replacement-add input.invalid{border: 1px solid red;}

.footnote_loading {background: url('images/ajax-loader.gif') no-repeat center center;background-color: #DDD;position: absolute;width: 100%;height: 100%;opacity: 0.5;display: none;}
.footnote_replacements_list tr:hover {background-color: #EEE;}
.footnote_replacements_list th {font-weight: bold;}

.footnoteSettingsTabs .block {border: 1px solid grey;border-radius: 13px;padding: 20px;margin-bottom: 5px;}
.footnoteSettingsTabs .block h3 {padding-top: 0px; margin-top: 0px;}

#footnote-exclude-box label.blocklabel,
#footnote-disable-box label.blocklabel{display: block}

.floated-form-table{
    clear: none;
}

.floated-form-table tr{
    float: left;
    width: 49%;
    clear: none;
}

.floated-form-table tr.whole-line{
    width: 99%;
}

.footnoteSettingsTabs table th{
    position: relative;
    padding-right: 25px;
}

div.cmf_field_help{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('images/help.png');
    cursor: pointer;
    margin: 0 -20px 0 0;
    float: right;
}

div.cmf_field_help:hover{
    background-image: url('images/help_hover.png');
}

div.cmf_help{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('images/help.png');
    cursor: pointer;
    margin-right: 5px;
}

div.cmf_help:hover{
    background-image: url('images/help_hover.png');
}

.cm-showhide-handle{ cursor: pointer;}

/* PRO PLUS ONLY */
.footnote-container{ position: relative}
.footnote-search-clear{margin-left: 1em; cursor: pointer}

/*THIRD PARTY*/
#tt .mobile-link a.footnoteLinkMain{color: #fff}
#tt div.footnote_mw_dictionary{color: #fff}
#tt div.mw-thesaurus-container{color: #fff}
#tt h1,#tt h2,#tt h3,#tt h4{color: #fff}

div.mw-dictionary-container{margin-top: 1em}
div.mw-thesaurus-container{margin-top: 2em;}
div.footnote_mw_dictionary,
div.footnote_mw_wikipedia {font-size: 14pt; margin: 0.5em 0 0.5em 0;}
div.mw-group{margin: 0.5em 0 0.5em 0}
div.mw-group .group-title{ font-size: 12pt; margin-top: 0.5em; margin-bottom: 0.5em}
div.mw-group .term {margin-top: 0.3em}
div.mw-group div.term-number {float: left; font-weight: bold}
div.mw-group div.dd {margin: 0 0 0 1.5em;}
div.mw-group dd {margin: 0 0 0 1.5em;}
div.mw-group .type-vt {margin-left: 1em}
div.mw-group .sn {margin-left: 2em; margin-right: 0.5em}
div.mw-group .prdiv {margin-left: 0.5em}
div.mw-group .prdiv + .sn {margin-left: 0.5em;}
#tt span.example:before{content: "<"}
#tt span.example:after{content: ">"}
span.definition {margin-left: 0.5em}
div.mw-group.mw-definitnion { font-family: monospace; border: 1px #ccc solid; border-radius: 5px; display: block;padding: 10px;}
div.scnt {margin-top: 1em}
.progress-indicator {stop:0; right:0; width:100%; height:100%; position:absolute; text-align:center; /* IE filter */ filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); -moz-opacity:0.5;/* Mozilla extension */ -khtml-opacity:0.5;  /* Safari/Conqueror extension */ opacity:0.5; /* CSS3 */ z-index:1000; background-color:white; display:none;}
.progress-indicator img {margin-top:75px;}

.cmf-post-format-icon:before{font: 200 14px/1 dashicons;position: relative;left: -5px;}
.cmf-post-format-icon.cmf-post-format-audio:before {content: '\f127';}
.cmf-post-format-icon.cmf-post-format-new:before {content: '\f155';}

.cmf-audio-shortcode {
    margin: 10px;
}
.cmf-audio-player.cmf-limited {
    float: left;
}
.cmf-audio-player.cmf-limited .cmf-audio-shortcode .mejs-controls > *:not(.mejs-playpause-button) {
    display: none !important;
}

.cmf-audio-player.cmf-limited .cmf-audio-shortcode.mejs-container{
    width: auto !important;
    height: auto !important;
    background: none !important;
}
.cmf-audio-player.cmf-limited .cmf-audio-shortcode .mejs-controls{
    width: auto !important;
    background: none !important;
    position: initial !important;
}
.cmf-audio-player .cmf-audio-shortcode .mejs-controls{
    position: initial !important;
}

.cmf-woocommerce-product-container{
    padding: 10px;
    padding: 0.2em;
}
.cmf-woocommerce-product-image-container{
    float: left;
    padding: 5px 10px 10px 0px;
}
.cmf-woocommerce-product-description{
    padding-bottom: 10px;
    padding-bottom: 1em;
    display: block;
}
.cmf-woocommerce-product-desc-container {
    min-width: 275px;
}
.cmf-woocommerce-product-name {
    font-weight: 600;
}

.cmf-woocommerce-product-button-container{
    float: right;
}
.cmf-woocommerce-product-price ins{
    background: none;
}

.cmf-post-tags a{
    cursor: pointer;
}

.server-info-table td:nth-child(3) {}
.server-info-table span {color: green; font-weight: bold;}
.server-info-table strong {color: red; font-weight: bold;}

.cmf-social-box table {
    width: auto;
}

.cmf-social-box {
    margin-bottom: 10px;
}

.cmf-social-box .sharetitle {
    float: left;
    border-right: 1px solid #D2D2D2;
    padding: 3px 10px 2px 0px;
    margin: 0 10px 0 0;
    line-height: 25px;
    vertical-align: middle;
}

.cmf-social-box .sharetwitter {
    float: left;
    width: 90px;
    border-right: 1px solid #D2D2D2;
    margin: 0 15px 0 0;
    padding: 3px 0 2px;
    height: 25px;
}

.cmf-social-box .sharefb {
    width: 120px;
    float: left;
    border-right: 1px solid #D2D2D2;
    padding: 3px 0 2px;
    height: 25px;
}

.cmf-social-box .sharegplus {
    float: left;
    width: 120px;
    padding: 3px 0 2px;
    border-right: 1px solid #D2D2D2;
    height: 25px;
    margin: 0 0px 0 15px;
}

.cmf-social-box .sharelinkedin {
    float: left;
    width: 120px;
    margin: 0 0px 0 15px;
    padding: 3px 0 2px;
    border-right: 0px solid #D2D2D2;
    height: 25px;
}

select#cmf_footnoteID{
    max-width: 350px;
}

div.cminds_call_to_action{
    display: flex;
}

div.cminds_call_to_action .inner_box{
    border: 1px solid #999;
    padding: 0 0.5em 0.5em;
    margin: 0 auto;
    min-width: 290px;
}

div.cminds_call_to_action a{
    text-decoration: none;
}

div.cminds_settings_description{
    float: left;
    max-width: 55%;
}